manifest {
    name            = 'joookerz/sc-pcQTL'
    author          = 'sc-pcQTL contributors'
    homePage        = 'https://github.com/joookerz/sc-pcQTL'
    description     = 'Hurdle-based local multi-gene QTL mapping in single-cell RNA-seq data'
    mainScript      = 'main.nf'
    nextflowVersion = '>=25.10.0'
    version         = '0.1.0-dev'
}

nextflow.enable.dsl = 2

params {
    help                      = false
    input                     = null
    gene_annotation           = null
    genotype_prefix           = null
    variance_ratio_prefix     = null
    saige_params              = null
    outdir                    = 'results'
    genome_build              = 'GRCh38'
    donor_col                 = 'individual'
    cell_id_col               = 'barcode'
    gene_col                  = 'gene_name'
    chromosome_col            = 'chromosome'
    start_col                 = 'start'
    end_col                   = 'end'
    covariates                = 'age,sex,pc1,pc2,pc3,pc4,pc5,pc6,pf1,pf2'
    categorical_covariates    = 'sex'
    total_library_col         = 'total_read_counts'
    log_library_col           = 'log_total_read_counts'
    min_cells                 = 10000
    min_nonzero_fraction      = 0.01
    count_block_size          = 100
    pair_responses_per_task   = 10
    pair_scope                = 'fast'
    pair_test                 = 'component_union'
    count_family              = 'poisson'
    pair_alpha                = 0.05
    max_cluster_genes         = 50
    min_cluster_genes         = 2
    cluster_density           = 0.70
    pca_variance              = 0.95
    cis_window                = 500000
    qtl_maf                   = 0.05
    qtl_fdr                   = 0.05
    allow_unknown_saige_params = false
    run_qtl                   = true
    save_directional_tests    = false
    vr_n_markers              = 10000
    vr_seed                   = 1
    vr_geno                   = 0.05
    vr_prune_window           = 200
    vr_prune_step             = 50
    vr_prune_r2               = 0.2
    core_container            = 'ghcr.io/joookerz/sc-pcqtl-core:edge'
    saige_container           = 'ghcr.io/joookerz/sc-pcqtl-saigeqtl:edge'
}

includeConfig 'conf/base.config'

profiles {
    docker      { includeConfig 'conf/docker.config' }
    podman      { includeConfig 'conf/podman.config' }
    apptainer   { includeConfig 'conf/apptainer.config' }
    singularity { includeConfig 'conf/singularity.config' }
    slurm       { includeConfig 'conf/slurm.config' }
    example     { includeConfig 'conf/example.config' }
    test        { includeConfig 'conf/test.config' }
}

timeline { enabled = !params.help; file = "${params.outdir}/pipeline_info/execution_timeline.html"; overwrite = true }
report   { enabled = !params.help; file = "${params.outdir}/pipeline_info/execution_report.html"; overwrite = true }
trace    { enabled = !params.help; file = "${params.outdir}/pipeline_info/execution_trace.txt"; overwrite = true }
dag      { enabled = !params.help; file = "${params.outdir}/pipeline_info/pipeline_dag.html"; overwrite = true }
