apptainer.enabled = true
apptainer.autoMounts = true
apptainer.pullTimeout = '60 min'
apptainer.runOptions = '--cleanenv --env R_ENVIRON_USER=/dev/null --env R_PROFILE_USER=/dev/null --env R_LIBS_USER=/tmp/scpcqtl-r-library'
process {
    container = params.core_container
    withLabel: process_qtl { container = params.saige_container }
}
