process {
    executor = 'local'
    cpus = 1
    memory = '4 GB'
    time = '2h'
    errorStrategy = { task.exitStatus in [137, 140, 143] ? 'retry' : 'terminate' }
    maxRetries = 2

    withLabel: process_low {
        cpus = 1
        memory = '4 GB'
        time = '2h'
    }

    withLabel: process_medium {
        cpus = 2
        memory = '16 GB'
        time = '12h'
    }
    withLabel: process_prepare {
        cpus = 1
        memory = '64 GB'
        time = '48h'
    }
    withLabel: process_pair {
        cpus = 1
        memory = '16 GB'
        time = '24h'
    }
    withLabel: process_pca {
        cpus = 1
        memory = '32 GB'
        time = '24h'
    }
    withLabel: process_high {
        cpus = 1
        memory = '32 GB'
        time = '24h'
    }
    withLabel: process_qtl {
        cpus = 1
        memory = '16 GB'
        time = '24h'
    }
}

executor {
    queueSize = 100
}
