params {
    input                 = "${projectDir}/examples/samplesheet.csv"
    gene_annotation      = "${projectDir}/examples/gene_annotation.tsv"
    genotype_prefix      = "${projectDir}/examples/genotype_chr{chr}"
    variance_ratio_prefix = "${projectDir}/examples/variance_ratio"
    pair_scope           = 'fast'
    pair_test            = 'component_union'
    count_family         = 'poisson'
    min_cells            = 10000
    min_nonzero_fraction = 0.01
    max_cluster_genes    = 50
    min_cluster_genes    = 2
    cluster_density      = 0.70
    pca_variance         = 0.95
    cis_window           = 500000
    qtl_maf              = 0.05
    qtl_fdr              = 0.05
    saige_container      = 'wzhou88/saigeqtl:0.3.4'
}

process {
    cpus = 1
    memory = '2 GB'
    time = '2h'

    withLabel: process_low {
        cpus = 1
        memory = '2 GB'
        time = '1h'
    }
    withLabel: process_medium {
        cpus = 1
        memory = '4 GB'
        time = '2h'
    }
    withLabel: process_prepare {
        cpus = 1
        memory = '4 GB'
        time = '2h'
    }
    withLabel: process_pair {
        cpus = 1
        memory = '3 GB'
        time = '4h'
        maxForks = 2
    }
    withLabel: process_pca {
        cpus = 1
        memory = '4 GB'
        time = '2h'
    }
    withLabel: process_high {
        cpus = 1
        memory = '4 GB'
        time = '2h'
    }
    withLabel: process_qtl {
        container = 'wzhou88/saigeqtl:0.3.4'
        cpus = 1
        memory = '4 GB'
        time = '6h'
        maxForks = 1
    }
}
