params {
    input = 'tests/fixtures/samplesheet.csv'
    gene_annotation = 'tests/fixtures/genes.tsv'
    genotype_prefix = 'tests/fixtures/genotype_chr{chr}'
    outdir = 'tests/output'
    min_cells = 10
    max_cluster_genes = 4
    min_cluster_genes = 2
    cluster_density = 0.50
    run_qtl = false
    covariates = 'sex'
    categorical_covariates = 'sex'
    pair_alpha = 1.0
}
process {
    executor = 'local'
    cpus = 1
    memory = '2 GB'
    time = '1h'

    withLabel: process_low {
        cpus = 1
        memory = '2 GB'
        time = '1h'
    }
    withLabel: process_medium {
        cpus = 1
        memory = '2 GB'
        time = '1h'
    }
    withLabel: process_prepare {
        cpus = 1
        memory = '2 GB'
        time = '1h'
    }
    withLabel: process_pair {
        cpus = 1
        memory = '2 GB'
        time = '1h'
    }
    withLabel: process_pca {
        cpus = 1
        memory = '2 GB'
        time = '1h'
    }
    withLabel: process_high {
        cpus = 1
        memory = '2 GB'
        time = '1h'
    }
    withLabel: process_qtl {
        cpus = 1
        memory = '2 GB'
        time = '1h'
    }
}
